[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
	branch = v1.15.x
[submodule "AI/FuzzyLite"]
	path = AI/FuzzyLite
	url = https://github.com/fuzzylite/fuzzylite.git
	branch = release
[submodule "innoextract"]
	path = launcher/lib/innoextract
	url = https://github.com/vcmi/innoextract.git
	branch = vcmi
[submodule "Mods/ML"]
	path = Mods/ML
	url = git@github.com:smanolloff/vcmi-mlmod.git
[submodule "server/ML"]
	path = server/ML
	url = git@github.com:smanolloff/vcmi-mlserver.git
[submodule "MMAILoader"]
	path = MMAILoader
	url = git@github.com:smanolloff/vcmi-mmailoader.git
[submodule "AI/MMAI"]
	path = AI/MMAI
	url = git@github.com:smanolloff/vcmi-MMAI.git
[submodule "ML"]
	path = ML
	url = git@github.com:smanolloff/vcmi-mlclient.git
